body {
	background-color: #161616;
	color: #E0E0E0;
    font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}

h1, h2, h3, h4 {
    text-align: left;
	color: #A8A8A8;
	margin-bottom: 0px;
}


#footer { 
    position: fixed;
    bottom: 10;
	right : 10;
	text-align: right;
	
}

//hyperlinks
a,a:link    {color:#CF5828 ; text-decoration:none }
a,a:visited {color:#A8A8A8 ; text-decoration:none }
a,a:hover   {color:DeepSkyBlue; text-decoration:none}
a,a:active  {color:LightBlue; text-decoration:none }